*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.iziphp{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    background-color: darkorange;
}
/* code{
    color: darkorange !important;
    background:rgb(255, 211, 157) !important;
    
} */
.error{
    display: flex;
    justify-content: center;
    align-items: center;
    background: orange;
    color: white;
    flex-direction: column;
    height: 100vh;
}
.error h1{
    font-size: 5rem;
}
.error a {
    font-size: 2rem;
    text-decoration: underline;
    margin-top: 50px;
    color: white;
}